<div class="jumbotron mt-4 bg-light p-5">
    <h1 class="display-4">Notes App Node.js and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod necessitatibus adipisci dolore!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nihil aspernatur excepturi aut sunt corporis iste? Quaerat labore eum vel sint quo provident officiis molestias deleniti sit ad. Maxime, sit.</p>
    <a href="" class="btn btn-primary">Richard</a>
</div>